* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#wrapper {
  width: 80%;
  margin: auto;
}

h1 {
  text-align: center;
  padding: 40px 0;
}
h2,
p {
  padding: 30px 0;
}
.rettangolone {
  width: 100%;
  background-color: #F5F5F5;
  padding: 20px;
  box-shadow: inset 2px 2px 4px lightgrey;
  border-radius: 5px;
}

.quadrato1 {
  width: 100px;
  height: 100px;
  border: 1px solid red;
  transition: all 1.4s ease 0.0s;
}
.quadrato1:hover {
  background-color: red;
}

.quadrato2 {
  width: 100px;
  height: 100px;
  background-color: red;
  transition: all 1.4s ease 0.0s;
}
.quadrato2:active {
  width: 100%;
}

.quadrato3 {
  width: 100px;
  height: 100px;
  background-color: red;
  transition: all 0.3s ease 0.1s;
}
.quadrato3:hover {
  border-radius: 50%;
}
@keyframes {
}
